@using AzureDemo.ViewModels
@model HomeViewModel

@{
    ViewData["Title"] = "Shupi Countdown";
}

@section PreContent {
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center">
                @Model.Title
            </h1>
        </div>
        <div class="next-episode text-center">
                <div id="nextShowDetails"
                        data-utc-year="@Model.NextShowDateUtc.Year"
                        data-utc-month="@(Model.NextShowDateUtc.Month-1)"
                        data-utc-day="@Model.NextShowDateUtc.Day"
                        data-utc-hour="@Model.NextShowDateUtc.Hour"
                        data-utc-min="@Model.NextShowDateUtc.Minute">
                    <h2>Next visit</h2>
                    <h2>
                        <strong data-part="showTime" class="hidden">
                            @Model.NextShowDateUtc.ToString("u")
                        </strong>
                    </h2>
                    <h2>
                        <span data-part="countdown"></span>
                    </h2>
                </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        (function () {
            window.siteJs.setNextShowDetails("nextShowDetails");
        })();
    </script>
}